@model BWS_GUI.Models.CallbackViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BWS User Interface Callback</title>
    <link rel="stylesheet" type="text/css" href="~/gui.css">
    <style>body{margin:0 15px}.error{color:red}</style>
</head>
<body>
    <h1>BWS user interface sample callback page</h1>
    @if (Model.Success)
    {
        <p>The <b>@Model.Action</b> of biometric class <b>@Model.BCID</b> succeeded!</p>
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.Action))
        {
            <p>The <b>@Model.Action</b> of biometric class <b>@Model.BCID</b> failed!</p>
        }
        if (!string.IsNullOrWhiteSpace(Model.GuiError))
        {
            <p>The user interface reported the error: <span class="error">@Model.GuiError</span></p>
        }
        if (!string.IsNullOrWhiteSpace(Model.Error))
        {
            <p>The BioID Web Service reported the error: <span class="error">@Model.Error</span></p>
        }
    }
    <p><br />@Html.ActionLink("BWS user interface test page", "Test", "BWS")</p>
</body>
</html>
